/*Color Pallete
#F0EFF4 Ghost White
#1B2D2A Gunmetal
#09814A Sea Green
#BB9457 Lion
#6A8EAE Air Force Blue
*/

/*Body Styles*/
body {
    font-family: Benton-Book,Arial,Sans-Serif;
    background-color: #1B2D2A;
    margin: 0;
    padding: 0;
    position: relative;
}


/*Header Style for All Pages*/
header {
    margin: 0;
    padding: 0;
    background-color: #1B2D2A;
}

header img{
    float: left;
    padding-top: 0.5em;
    padding-left: 2.5em;
    margin: 0;
}


header h2{
    color: #BB9457;
    text-align: center;
    border-bottom: 0.2em solid #BB9457;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0;
    padding-top: 0.5em;
}

/*Footer Styles all Pages*/

footer {
    background-color: #1B2D2A;
    color: #F0EFF4;
    text-align: center;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    border-top: #BB9457 solid 4px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  footer a {
    color: #F0EFF4;
    text-decoration: none;
    margin: 10px;
  }
  footer a:hover {
    color: #BB9457;
  }


/* Navigation Bar Style For All Pages */
nav {
    font-size: 1.2em;
    background-color: #1B2D2A;
    color: #F0EFF4;
    padding-bottom:2em;
    padding-top: 0em;
    margin: 0em;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 93%;
}

nav ul li {
    margin-right: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #F0EFF4;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: none;
    color: #BB9457; 
    position: relative; 
}

nav ul li a:hover::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -0.3em; 
    width: 100%; 
    border-bottom: 0.2em solid #BB9457; 
}

#navActive {
    text-decoration: none;
    color: #BB9457; 
    position: relative; 
}

/*TopHome ID Image Style*/
#homeTop img{
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 40em;
}

#homeTop p{
    text-align: center;
    color: #F0EFF4;
    position: absolute;
    border: 4px solid #F0EFF4;
    padding: 4px;
    top: 22%; 
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    font-size: 2.8em;
}

#homeTop p:hover{
    transition: all ease-in-out 0.15s;
    padding: 8px;
    top: 22%;
    border-radius: 10px;
    background-color: #BB9457;
    border: 5px solid #F0EFF4;
}

#homeTop h2{
    text-align: center;
    color: #F0EFF4;
    position: absolute;
    text-decoration: underline solid 3px #F0EFF4;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8em; 
}

#homeTop h4{
    text-align: center;
    color: #F0EFF4;
    position: absolute;
    top: 18%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8em; 
}

#homeTopText{
    text-align: center;
    color: #fd0808;
    position: absolute;
    top: 21.2%; 
    left: 50%;
    width: 600px;
    transform: translateX(-50%);
    font-size: 1.2em; 
}
#aboutSectionHome{
    background-color: #F0EFF4;
}

#aboutSectionHome img{
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 20%;
    height: 300px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

#aboutSectionHome h2{
    color: #BB9457;
    font-size: 3em;
    padding-top: 40px;
    text-decoration: underline solid 5px #F0EFF4;
    padding-left: 10px;
}

/*AboutSection ID Style*/
#aboutSectionHome p{
    color: black;
    font-size: 1.3em;
    width: 60%;
    padding-left: 10px;
    margin: 0px;
}

#doYouQualify{
    padding-bottom: 150px;
    background-color: #F0EFF4;
}

#doYouQualify img{
    float: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 20%;
    height: 300px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

#doYouQualify h2{
    color: #BB9457;
    font-size: 3em;
    padding-top: 40px;
    text-decoration: underline solid 5px #F0EFF4;
    padding-right: 10px;
    padding-left: 57%;
    margin: 0px;
}


#doYouQualify p{
    color: black;
    font-size: 1.3em;
    padding-right: 10px;
    padding-left: 46%;
    margin: 0px;
}

#doYouQualify a{
    text-decoration: none;
    color: b;
}

#homeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Adjust height to center vertically */
}

#homeVideo iframe {
  max-width: 100%;
  max-height: 100%;
}

#homeBottomArticle {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    column-gap: 20px; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  #homeBottomArticle > * {
    flex: 1; 
  }
  
  #homeBottomArticle p {
    color: #F0EFF4;
    margin: 0; 
    padding: 10px; 
    border-right: 1px solid gray; 
    box-sizing: border-box; 
  }
  
  #homeBottomArticle h2 {
    color: #BB9457;
    text-align: center;
  }
/*BuyPage House listing blocks and container Class Style*/
#container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 800px; 
}

.listingContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px; 
}

.listing {
    width: 32%; 
    height: 800px;
    margin-bottom: 20px; 
    margin-top: 20px;
    box-sizing: border-box; 
    border: 1px solid #F0EFF4;
    overflow: hidden; 
    position: relative; 
    transition: transform 0.3s ease; 
    border-radius: 10px;
    border: #1B2D2A 5px solid;
}

.listing:hover {
    transform: scale(1.05);
}


.listing img {
    width: 100%; 
    height: 600px; 
}

.listing h3{
    margin: 5px 0; 
    text-align: center; 
}
.listing h4{
    margin: 5px 0; 
    text-align: center; 
}
.listing p {
    margin: 5px 0; 
    text-align: center; 
}

.listing a {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}

.listing a:hover {
    color: inherit; 
}

.backButtonStyle {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #1B2D2A;
    color: #F0EFF4;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.backButtonStyle:hover {
    background-color: #1b2d2a9d;
}

.houseListingBlock {
    float: left;
    position: relative;
    width: 70%;
    margin: 20px;
    margin-left: 10px;
    padding: 20px;
    background-color: #F0EFF4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-left: #1B2D2A 12px solid;
}


.listingImages {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.listingImages img {
    margin-left: 100px;
    width: 980px;
    height: 720px;
}

/*Listing Page Class Style for details and images and google maps*/
.houseBlockDetails {
    margin-bottom: 20px;
}

.houseBlockDetails h2 {
    font-size: 32px;
    color: #F0EFF4;
    background-color: #1B2D2A;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.houseBlockDetails h3 {
    font-size: 24px;
    color: #BB9457;
    margin-bottom: 10px;
}

.houseBlockDetails p {
    font-size: 18px;
    color: #1B2D2A;
    line-height: 1.6;
    margin-bottom: 20px;
}

.houseFeatures {
    margin-bottom: 20px;
}

.houseFeatures h3 {
    font-size: 24px;
    color: #1B2D2A;
    margin-bottom: 10px;
}

.houseFeatures ul {
    list-style: none;
    padding: 0;
}

.houseFeatures ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.googleMapStyle {
    position: absolute;
    bottom: 0px;
    right: 20px;
    border: 1px solid #F0EFF4;
    border-radius: 10px;
}

.moreHouseListings {
    float: right;
    width: 15%;
    max-height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #F0EFF4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-right: #1B2D2A 5px solid;
}

/*More house listings aside of listing page */

.moreHouseListings img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.moreHouseListings a{
    color: #BB9457;
    text-decoration: none;
}

.moreHouseListings:hover {
    transform: scale(1.02);
}

/*Styles I made after the First Project Submit Day*/

/*Sell Page Contact Form*/
#sellContactForm {
    background-color: #F0EFF4;
    width: 20%; 
    margin: 15px auto; 
    border-radius: 20px;
    padding-bottom: 15px;
}
label {
    display: block;
    width: 312px;
    padding-right: 10px;
    text-align: center;
    margin: 0 auto; 
}

.required {
    color: rgb(255, 0, 0);
    margin-top: 1px;
    margin-left: 2px; 
}

input, textarea {
    display: block;
    border: #1B2D2A solid 3px;
    margin: 0 auto; 
    margin-bottom: 5px;
    text-align: center;
    width: 90%;
}

textarea {
    resize: none; 
}

#buttonsBox{
    text-align: center; 
}

#button, #reset {
    display: inline-block; 
    width: 45%;
    margin: 15px auto; 
    font-size: 24px;
    color: #BB9457;
    background-color: #1B2D2A;
}
input[type="checkbox"] {width: 15px;}
input[type="radio"] {width: 10px;}

/*Top SellPage Banner*/
#sellPageTop{
    padding: 0px;
    margin: 0px;
    height: 50px;
    background-color: #BB9457;
}

#sellPageTop h2{
    color: #F0EFF4;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    text-decoration: underline solid 5px #F0EFF4;
    text-align: center;
}


/*Bottom SellPage*/
#sellPageBottom {
    padding-top: 15px;
    background-color: #F0EFF4;
}

#sellPageBottom h2{
    color: #BB9457;
    text-decoration: underline solid 3px #BB9457;
    text-align: center;
    font-weight: bold;
}
#sellPageBottom p{
    text-align: center;
    margin-left: 25%;
    width: 50%;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#sellPageBottom ol{
    margin-left: 40%;
}

#sellPageBottom ol li{
    list-style-type: square;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#sellPageBottom ul{
    margin-left: 40%; 
}

#sellPageBottom ul li{
    list-style-type: circle;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
#sellPageBottom table{
    background-color: white;
    width: 80%;
    color: black;
    border: 5px solid white;
    border-collapse: collapse;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 10%;
}
#sellPageBottom th, td{
    border: 5px solid black;
    text-align: left;
    padding: 8px;
}

#sellPageBottom thead th{
    width: 25%;
}

#sellPageBottom .cell-highlight {
    background-color: #BB9457;
    font-weight: bold;
    color: white;
  }
  
#sellPageBottom  .colour_tab
  {
      color: #BB9457;
      font-weight: bold;
  }

/*About Us Page Style*/
/*Contact Us Form*/
#contactusForm h2{
    color: #BB9457;
    padding: 5px;
    border-top: #BB9457 solid 6px;
    border-radius: 20px;
    margin: 0px;
    font-size: 40px;
    text-decoration: underline solid 5px #F0EFF4;
    text-align: center;
}

#contactusForm {
    background-color: #F0EFF4;
    width: 25%; 
    margin: 15px auto; 
    border-radius: 20px;
    padding-bottom: 15px;
    margin-left: 125px;
    margin-top: 40px;
    float: left;
}

/*About Page Top Banner*/
#aboutpageTop{
    padding: 0px;
    margin: 0px;
    height: 50px;
    background-color: #BB9457;
}

#aboutpageTop h2{
    color: #F0EFF4;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    text-decoration: underline solid 5px #F0EFF4;
    text-align: center;
}



#aboutpageBottom {
    padding-top: 15px;
    margin-top: 15px;
    margin-right: 150px;
    background-color: #F0EFF4;
    width: 50%;
    float: right;
    border-radius: 20px;
    border-top: #BB9457 solid 6px;
    border-radius: 20px;
    margin: 35px;
}

#aboutpageBottom h2{
    color: #BB9457;
    text-decoration: underline solid 3px #BB9457;
    text-align: center;
    font-weight: bold;
}
#aboutpageBottom p{
    text-align: center;
    margin-left: 25%;
    width: 50%;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#aboutpageBottom ol{
    margin-left: 29%; 
}

#aboutpageBottom ol li{
    list-style-type: square;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#aboutpageSection1{
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 35px;
}

#aboutpageSection1 img{
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 40%;
    height: 300px;
}


/*AboutSection ID Style*/
#aboutpageSection1 p{
    text-align: center;
    width: 50%;
    color: black;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin: 0;
    margin-top: 40px;
    margin-right: 25px;
}

#aboutpageSection2{
    margin-top: 35px;
    margin-bottom: 35px;
    padding-bottom: 35px;
    padding-top: 35px;
}

#aboutpageSection2 img{
    float: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 40%;
    height: 300px;
}


/*AboutSection ID Style*/
#aboutpageSection2 p{
    text-align: center;
    width: 50%;
    color: black;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin: 0;
    margin-top: 60px;
    margin-left: 25px;
}


